@import './partial/placeholder';
@import './partial/variable';
@import './partial/navbar';
@import './partial/header' ;
@import './partial/aboutus';
@import './partial/counter';
@import './partial/amazing';
@import './partial/design';
@import'./partial/service';
@import'./partial/portfolio';
@import'./partial/blog';
@import'./partial/footer';

body{
    font-family: 'Montserrat', serif;
    .inner-p{
        font-size: .8rem;
    }
    .kushan-p{
        font-family: 'Kaushan Script', cursive;
    }
    .header-line{
        font-weight: 600;
        &::after{
            @extend %line;
        }
    }
    .feedback{
        background-color: #eee;
        .blockquote-footer{
            color: $sec-color ;
            h6{
                color: #000 !important;
            }
        }
    }
    .people{
        background: linear-gradient(rgba(255, 255, 255, 0.7)),
        url('../../assets/Images/clientbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        // background-position: bottom;
        .media-body{
            & p:nth-child(2)::after{
                @extend %line;
                width: 50px;
                margin: 5px 0;
            }
        }
    }
    .map{
        background: linear-gradient(rgba(255, 255, 255, 0.7)),
        url('../assets/Images/mapbg.jpg');
        background-size: cover;
        a{
            color: $sec-color;
        }
    }
}